# Object files
*.o
*.ko
*.obj
*.elf

._*

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
#*.a
#*.la
#*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

test

# Debug files
*.dSYM/
*.su

# binary name
wolf3d
lib/libft/libft.a
